.servicePageContentWrapper {
  width: 100vw;
  display: flex;
  height: calc(100vh - 7vh);
  overflow: hidden;
}

.serviceExplanation {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.serviceImg {
  width: 40%;
  height: 100%;
}

.serviceImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .serviceExplanation {
    width: 90%;
  }

  .servicePageContentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
